<footer class="py-12 px-4">
  <div class="container mx-auto">
    <div class="grid md:grid-cols-3 gap-8">
      <div>
        <div class="flex items-center space-x-3 mb-4">
          <img
            src="assets/logos/no_bg.png"
            alt="Logo bee-connected"
            class="w-20"
          />
          <span class="text-xl font-bold primary-font-family text-color"
            >Bee Connected</span
          >
        </div>
        <p class="secondary-font-family">
          L'agence qui te connecte à ton potentiel digital
        </p>
      </div>
      <div>
        <h4 class="font-semibold mb-4 secondary-font-family">Services</h4>
        <ul class="space-y-2 secondary-font-family">
          <li>Identité Visuelle</li>
          <li>Site Web Vitrine</li>
          <li>Site E-commerce</li>
          <li>Newsletter Pro</li>
        </ul>
      </div>
      <div>
        <h4 class="font-semibold mb-4 secondary-font-family">Contact</h4>
        <div class="space-y-2 secondary-font-family">
          <p>Email: contactconnected.fr</p>
          <p>Téléphone: +33 1 23 45 67 89</p>
        </div>
      </div>
    </div>
    <div
      class="border-t border-gray-800 mt-8 pt-8 text-center secondary-font-family"
    >
      <p>© 2025 Bee Connected. Tous droits réservés.</p>
    </div>
  </div>
</footer>
