<section class="py-20 px-4 secondary-background-color text-white">
  <div class="container mx-auto text-center">
    <h3 class="text-4xl font-bold mb-6 primary-font-family">
      Prêt à vous lancer ?
    </h3>
    <p class="text-xl mb-8 opacity-90 secondary-font-family">
      Pas de dépendance technique. Pas de jargon inutile. Pas de promesses
      floues.<br />Juste des outils bien faits, que vous pouvez utiliser et
      faire évoluer vous-même.
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <button class="primary-btn px-[16px] py-[9px] align-center text-lg">
        Demander un devis
      </button>
      <button class="secondary-btn px-[16px] py-[9px] align-center text-lg">
        Nous contacter
      </button>
    </div>
  </div>
</section>
