<div class="w-full h-24 nav-bg grid grid-cols-5 gap-4">
  <div class="max-height-40 content-center text-center xl:text-right">
    <img class="w-25" src="assets/logos/no_loop.gif" alt="Bee connected logo" />
  </div>
  <div class="max-height-40 content-center text-left col-span-2">
    <h3 class="primary-font-family text-color margin-none">Bee connected</h3>
    <p class="secondary-font-family margin-none text-xs">
      L'agence qui te connecte à ton potentiel digital
    </p>
  </div>
  <div class="max-height-40 content-center text-center col-span-2">
    <button class="primary-btn px-[16px] py-[9px]">Contactez-nous</button>
  </div>
</div>
