$primary-background-color: #ffffff;
$secondary-background-color: #b76e79;
$text-color: #995f67;
$icon-color: #2e2e2e;

$primary-font-family: "Cocomat pro", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
