@import "config/_variables";
@import "config/_tailwind";

@font-face {
  font-family: "Cocomat pro";
  src: url("/assets/fonts/Cocomat Light-trial.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.primary-background-color {
  background-color: $primary-background-color;
}

.secondary-background-color {
  background-color: $secondary-background-color;
}

.text-color {
  color: $text-color;
}

.icon-color {
  color: $icon-color;
}

.primary-font-family {
  font-family: $primary-font-family;
}

.secondary-font-family {
  font-family: $secondary-font-family;
}

body {
  margin: 0;
  background-color: rgba(183, 110, 121, 0.1);
}

.primary-btn {
  background: $secondary-background-color;
  border: 1px solid $primary-background-color;
  border-radius: 5px;
  color: $primary-background-color;
  font-family: $secondary-font-family;
  cursor: pointer;
}

.primary-btn:hover {
  opacity: 0.9;
}

.primary-btn:active {
  opacity: 0.5;
}

.margin-none {
  margin: 0 !important;
}

.secondary-btn {
  background: $primary-background-color;
  border: 1px solid $secondary-background-color;
  border-radius: 5px;
  color: $secondary-background-color;
  font-family: $secondary-font-family;
  cursor: pointer;
}

.secondary-btn :hover {
  opacity: 0.9;
}

.secondary-btn :active {
  opacity: 0.5;
}
