<section class="py-20 px-4" id="services">
  <div class="container mx-auto">
    <div class="text-center mb-16">
      <h3 class="text-4xl primary-font-family mb-4">MES SERVICES</h3>
      <p class="text-xl secondary-font-family text-color">
        DES SOLUTIONS COMPLÈTES POUR VOTRE PRÉSENCE EN LIGNE
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-8">
      <div
        data-slot="card"
        class="bg-card text-card-foreground flex flex-col gap-1 rounded-xl py-6 shadow-sm border-2 transition-all duration-300 cursor-pointer primary-border hover:border-primary/50 hover:shadow-lg"
      >
        <div
          data-slot="card-header"
          class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6 text-center"
        >
          <div class="mx-auto mb-4 p-3 bg-primary/10 rounded-full w-fit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-palette w-8 h-8"
              aria-hidden="true"
            >
              <path
                d="M12 22a1 1 0 0 1 0-20 10 9 0 0 1 10 9 5 5 0 0 1-5 5h-2.25a1.75 1.75 0 0 0-1.4 2.8l.3.4a1.75 1.75 0 0 1-1.4 2.8z"
              ></path>
              <circle cx="13.5" cy="6.5" r=".5" fill="currentColor"></circle>
              <circle cx="17.5" cy="10.5" r=".5" fill="currentColor"></circle>
              <circle cx="6.5" cy="12.5" r=".5" fill="currentColor"></circle>
              <circle cx="8.5" cy="7.5" r=".5" fill="currentColor"></circle>
            </svg>
          </div>
          <div
            data-slot="card-title"
            class="font-semibold text-xl secondary-font-family text-color"
          >
            Identité Visuelle
          </div>
          <div
            data-slot="card-description"
            class="text-lg font-semibold secondary-font-family"
          >
            250€
          </div>
          <p class="text-sm secondary-font-family text-gray-600">
            Pack Essentiel
          </p>
        </div>
        <div data-slot="card-content" class="px-6">
          <ul class="space-y-2 mb-4">
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Logo simple et impactant</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Palette couleurs, typographies</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Templates Canva pour les réseaux ou newsletters</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Mini charte graphique</span
              >
            </li>
          </ul>
          <p class="badge secondary-font-family">
            Formation à l'outil Canva +100€
          </p>
        </div>
      </div>
      <div
        data-slot="card"
        class="bg-card text-card-foreground flex flex-col gap-1 rounded-xl py-6 shadow-sm border-2 transition-all duration-300 cursor-pointer primary-border hover:border-primary/50 hover:shadow-lg"
      >
        <div
          data-slot="card-header"
          class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6 text-center"
        >
          <div class="mx-auto mb-4 p-3 bg-primary/10 rounded-full w-fit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-globe w-8 h-8"
              aria-hidden="true"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path>
              <path d="M2 12h20"></path>
            </svg>
          </div>
          <div
            data-slot="card-title"
            class="font-semibold text-xl secondary-font-family text-color"
          >
            Site Web Vitrine
          </div>
          <div
            data-slot="card-description"
            class="text-lg font-semibold secondary-font-family"
          >
            À partir de 500€
          </div>
          <p class="text-sm secondary-font-family text-gray-600">
            Site professionnel
          </p>
        </div>
        <div data-slot="card-content" class="px-6">
          <ul class="space-y-2 mb-4">
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Site 1 à 5 pages (WordPress ou autre)</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Responsive mobile</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Nom de domaine, hébergement</span
              >
            </li>

            <li class="flex items-start space-x-2 opacity-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Pages légales (CGV, mentions)</span
              >
            </li>
          </ul>
          <p class="badge secondary-font-family">
            Formation prise en main 150€
          </p>
        </div>
      </div>
      <div
        data-slot="card"
        class="bg-card text-card-foreground flex flex-col gap-1 rounded-xl py-6 shadow-sm border-2 transition-all duration-300 cursor-pointer primary-border hover:border-primary/50 hover:shadow-lg"
      >
        <div
          data-slot="card-header"
          class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6 text-center"
        >
          <div class="mx-auto mb-4 p-3 bg-primary/10 rounded-full w-fit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-shopping-cart w-8 h-8"
              aria-hidden="true"
            >
              <circle cx="8" cy="21" r="1"></circle>
              <circle cx="19" cy="21" r="1"></circle>
              <path
                d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
              ></path>
            </svg>
          </div>
          <div
            data-slot="card-title"
            class="font-semibold text-xl secondary-font-family text-color"
          >
            Site E-commerce
          </div>
          <div
            data-slot="card-description"
            class="text-lg font-semibold secondary-font-family"
          >
            À partir de 750€
          </div>
          <p class="text-sm secondary-font-family text-gray-600">
            Boutique en ligne
          </p>
        </div>
        <div data-slot="card-content" class="px-6">
          <ul class="space-y-2 mb-4">
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Boutique (jusqu'à 10 produits)</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Paiement en ligne sécurisé</span
              >
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Pages légales (CGV, mentions)</span
              >
            </li>
            <li class="flex items-start space-x-2 opacity-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check-big w-5 h-5 secondary-font-family mt-0.5 flex-shrink-0 text-color"
                aria-hidden="true"
              >
                <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                <path d="m9 11 3 3L22 4"></path></svg
              ><span class="text-sm secondary-font-family"
                >Pages légales (CGV, mentions)</span
              >
            </li>
          </ul>
          <p class="badge secondary-font-family">
            Formation à la gestion boutique 150€
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
