<div>
  <section class="py-20 px-4">
    <div class="container mx-auto text-center">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-5xl font-bold text-gray-900 mb-6 primary-font-family">
          Une agence indépendante qui accompagne votre<span class="text-color">
            lancement digital</span
          >
        </h2>
        <p
          class="text-xl text-gray-600 mb-8 leading-relaxed secondary-font-family"
        >
          Nous créons pour vous une identité visuelle claire, un site web adapté
          à vos besoins, une communication simple et des outils bien paramétrés.
          Mais surtout, nous croyons en l'autonomie.
        </p>
        <div class="flex flex-col sm:flex-row gap-4 justify-center">
          <button class="primary-btn px-[16px] py-[9px] align-center text-lg">
            Découvrir nos services
          </button>

          <button class="secondary-btn px-[16px] py-[9px] align-center text-lg">
            Voir nos services
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
